/* First time trying BEM (http://getbem.com) */

:root {
  --very-dark-gray-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);

  --font-medium: 500;
  --font-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-card {
  font-family: "Manrope", sans-serif;
  font-weight: var(--font-medium);
  font-size: 13px;
  background-color: white;
  margin: 22px;
  border-radius: 8px;
  box-shadow: 0px 20px 30px hsla(212, 23%, 69%, 0.2);
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .article-card {
    display: flex;
    width: 50%;
    overflow: visible;
    box-shadow: 0px 30px 40px hsla(212, 23%, 69%, 0.3);
    align-items: stretch;
  }
}

.article-card__image-box {
  height: 200px;
  background-image: url(../images/drawers.jpg);
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {
  .article-card__image-box {
    background-position: center;
    /* TODO: Fix this */
    /* height: 100%; */
    /* height: 282px; */
    width: 40%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--very-dark-gray-blue);
  }
}

.article-card__body {
  padding: 30px 30px 12px;
}

@media screen and (min-width: 1280px) {
  .article-card__body {
    padding: 30px 40px 12px;
  }
}

.article-card__title {
  margin-top: 6px;
  margin-bottom: 13px;
  color: var(--very-dark-gray-blue);
  font-size: 1.3em;
  font-weight: var(--font-bold);
  line-height: 1.4;
}

@media screen and (min-width: 1280px) {
  .article-card__title {
    font-size: 1.5em;
  }
}

.article-card__excerpt {
  color: var(--desaturated-dark-blue);
  line-height: 1.6;
  letter-spacing: 0.025em;
  margin: 0px;
}

.article-card__footer {
  position: relative;
}

.article-card__author-date-container {
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .article-card__author-date-container {
    padding: 10px 40px 30px;
  }
}

.article-card__author-date-container--hidden-mobile {
  display: none;
}

@media screen and (min-width: 1280px) {
  .article-card__author-date-container--hidden-mobile {
    /* Return back to flex box */
    display: flex;
  }
}

.article-card__author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.article-card__author-name {
  color: var(--very-dark-gray-blue);
  font-weight: var(--font-bold);
  font-style: normal;
  margin-bottom: 6px;
}

.article-card__date {
  color: var(--gray-blue);
}

.article-card__share-btn-container {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right value of .article-card__body */
  right: 30px;
  bottom: 0px;
}

@media screen and (min-width: 1280px) {
  .article-card__share-btn-container {
    right: 40px;
    bottom: 10px;
  }
}

.article-card__share-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-width: 0px;
  background-color: var(--light-gray-blue);
  color: #6e8098;
}

.article-card__share-btn--active {
  background-color: var(--desaturated-dark-blue);
  color: white;
}

.article-card__share-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--gray-blue);
}

.article-card__share-tooltip {
  margin-top: 8px;
}

@media screen and (min-width: 1280px) {
  .article-card__share-tooltip {
    margin-top: 0px;
    position: absolute;
    bottom: 80px;
    right: -62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    filter: drop-shadow(0px 8px 3px hsla(212, 23%, 69%, 0.2));
  }

  .article-card__share-tooltip::after {
    content: "";
    height: 0px;
    width: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid var(--very-dark-gray-blue);
    margin-top: -1px;
  }
}

.article-card__share-tooltip--hidden {
  display: none;
}

.article-card__share-tooltip-body {
  background-color: var(--very-dark-gray-blue);
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .article-card__share-tooltip-body {
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.article-card__share-tooltip-label {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: var(--gray-blue);
  margin-right: 16px;
}

.article-card__social-icon-link {
  margin-right: 16px;
}

.article-card__social-icon-link + .article-card__social-icon-link:last-child {
  margin-right: 0px;
}

.article-card__social-icon-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--gray-blue);
}

/* From Bootstrap .sr-only (https://github.com/twbs/bootstrap/blob/7a6da5e3e7ad7c749dde806546a35d4d4259d965/dist/css/bootstrap.css#L8045) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.025em;
  color: var(--very-dark-gray-blue);
  font-family: monospace;
  margin-top: 100px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
