/* First time trying BEM (http://getbem.com) */

:root {
  --very-dark-gray-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);

  --shadow-color: hsla(212, 23%, 69%, 0.2);

  --font-medium: 500;
  --font-bold: 700;

  font-size: 13px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: var(--font-medium);
  background-color: var(--light-gray-blue);
}

.attribution {
  text-align: center;
  letter-spacing: 0.025rem;
  color: var(--very-dark-gray-blue);
  font-family: monospace;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
