@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 18px;
  }
}

@layer components {
  .heading {
    @apply font-semibold leading-tight text-gray-blue-dark;
  }

  .heading--1 {
    @apply text-3xl mb-4;
  }

  .heading--2 {
    @apply text-2xl mb-4;
  }

  .heading--3 {
    @apply text-xl mb-3;
  }

  @screen lg {
    .heading--1 {
      @apply text-4xl;
    }

    .heading--2 {
      @apply text-3xl;
    }

    .heading--3 {
      @apply text-2xl;
    }
  }

  .cta {
    @apply block text-white text-lg px-8 py-3 shadow-lg rounded-full select-none;
    -webkit-tap-highlight-color: transparent;
  }

  @screen lg {
    .cta {
      @apply inline-block shadow-xl;
    }
  }

  .cta:focus {
    @apply outline-transparent shadow-outline;
  }

  .cta--cyan {
    @apply bg-cyan-strong;
  }

  .cta--cyan:hover,
  .cta--cyan:active {
    @apply bg-cyan-stronger;
  }

  .cta--blue {
    @apply bg-blue-light;
  }

  .cta--blue:hover,
  .cta--blue:active {
    @apply bg-blue-dark;
  }

  @screen lg {
    /* Credit: https://css-tricks.com/full-width-containers-limited-width-parents/#no-calc-needed */
    .img-stretched-half-screen {
      position: relative;
      left: 50%;
      /* The +2vw here just makes it a little bigger than 50vw. */
      width: 52vw;
      /* The -1.5rem shifts a small part of the image offscreen.
       * !important otherwise it would be overridden by an utility class.
       */
      margin-left: calc(-50vw - 1.5rem) !important;
    }
  }

  @screen xxl {
    .img-stretched-half-screen {
      /* Undo the styles of the lg screen */
      @apply left-0 w-1/2;
      @apply ml-0 !important;
    }
  }
}

@layer utilities {
  .bg-header {
    background-image: url(images/bg-header-mobile.png);
    background-position: top center;
    @apply bg-no-repeat bg-contain;
  }

  @screen lg {
    .bg-header {
      background-image: url(images/bg-header-desktop.png);
    }
  }

  .outline-transparent {
    outline: 1px solid transparent;
  }

  @responsive {
    .col-count-2 {
      column-count: 2;
    }

    .col-count-3 {
      column-count: 3;
    }

    .flex-basis-full {
      flex-basis: 100%;
    }
  }
}
