@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reduce animations for those who don't want it. See https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#taking-it-to-code */
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    * {
      transition-duration: 0.001ms !important;
    }
  }

  /* Credit for the theme implementation: https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ */
  :root {
    @apply bg-white text-blue-gray-dark;
  }

  :root.dark {
    @apply bg-blue-very-dark text-blue-desaturated;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      @apply bg-blue-very-dark text-blue-desaturated;
    }

    :root.light {
      @apply bg-white text-blue-gray-dark;
    }
  }
}

@layer components {
  .themed-header {
    @apply bg-blue-very-pale;
  }

  .themed-display-text {
    @apply text-blue-very-dark;
  }

  .themed-border-separator {
    @apply border-blue-gray-dark;
  }

  .themed-card {
    @apply bg-blue-gray-light;
  }

  .dark .themed-header {
    @apply bg-blue-very-dark-2;
  }

  .dark .themed-display-text {
    @apply text-white;
  }

  .dark .themed-border-separator {
    @apply border-blue-desaturated;
  }

  .dark .themed-card {
    @apply bg-blue-desaturated-dark;
  }

  @media (prefers-color-scheme: dark) {
    .themed-header {
      @apply bg-blue-very-dark-2;
    }

    .themed-display-text {
      @apply text-white;
    }

    .themed-border-separator {
      @apply border-blue-desaturated;
    }

    .themed-card {
      @apply bg-blue-desaturated-dark;
    }

    .light .themed-header {
      @apply bg-blue-very-pale;
    }

    .light .themed-display-text {
      @apply text-blue-very-dark;
    }

    .light .themed-border-separator {
      @apply border-blue-gray-dark;
    }

    .light .themed-card {
      @apply bg-blue-gray-light;
    }
  }

  /* Credit for the switch: https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/ */
  @supports (appearance: none) or (-webkit-appearance: none) or
    (-moz-appearance: none) {
    .switch {
      @apply appearance-none w-12 h-6 p-1 border border-transparent rounded-full inline-flex items-center bg-toggle;
    }

    /* Interesting notes:
     * Replaced elements don't support ::after and ::before. See https://developer.mozilla.org/en-US/docs/Web/CSS/::after and https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element
     * Your devtools might show the input element like <input>::after</input>
     */
    .switch::after {
      content: "";
      @apply inline-block h-4 w-4 rounded-full border border-transparent bg-blue-very-pale;
      @apply transition duration-200;
      /* Just to avoid CSS variables. Tailwind uses CSS variables for transform */
      transform: translateX(calc(theme("spacing.6") - 2px));
    }

    .switch:hover,
    .switch:active,
    .switch:checked {
      /* Fallback color */
      @apply bg-toggle-1;
      @apply bg-gradient-to-r from-toggle-1 to-toggle-2;
      @apply cursor-pointer;
    }

    .switch:checked::after {
      @apply bg-blue-very-dark-2;
      transform: translateX(0);
    }

    .switch:focus {
      @apply shadow-outline outline-transparent;
    }
  }
}

@layer utilities {
  .border-t-facebook {
    border-top-color: theme("colors.facebook");
  }

  .border-t-twitter {
    border-top-color: theme("colors.twitter");
  }

  .border-t-gradient-instagram {
    @apply relative;
    /* Fallback color */
    border-top-color: theme("colors.instagram-2");
  }

  .border-t-gradient-instagram::before {
    content: "";
    height: theme("borderWidth.5");
    top: calc(-1 * theme("borderWidth.5"));
    @apply absolute block left-0 right-0 rounded-t-full bg-gradient-to-r from-instagram-1 to-instagram-2;
  }

  .border-t-youtube {
    border-top-color: theme("colors.youtube");
  }

  .outline-transparent {
    outline: 1px solid transparent;
  }
}
