@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 12px;
    @apply font-medium;
  }

  h1 {
    @apply font-bold text-4xl text-black leading-tight tracking-tight mb-6;
  }

  @screen xl {
    h1 {
      @apply text-5xl leading-none mb-8;
    }
  }

  h2 {
    @apply font-bold text-lg text-black tracking-wider mb-4;
  }

  p {
    @apply text-gray-dark;
  }

  *:focus {
    outline: 1px solid transparent !important;
    @apply shadow-outline !important;
  }
}

@layer components {
  .slide {
    @apply hidden;
  }

  .slide--current {
    @apply block;
  }

  .slide__image {
    @apply w-full object-cover;
    height: 360px;
  }

  .carousel-controls {
    @apply flex absolute right-0;
    /* Note: On mobile (width 375px), image height = 360px, controls height = 60px. */
    top: 300px;
  }

  @screen xl {
    .slide--current {
      @apply flex;
    }

    .slide__image {
      @apply h-full;
    }

    .carousel-controls {
      @apply bottom-0 top-auto;
      left: calc(0.6 * 100vw);
    }
  }
}

@layer utilities {
  .-order-1 {
    order: -1;
  }
}
