@tailwind base;

/* Reduce animations for those who want it. See https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#taking-it-to-code */
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  *,
  *::before,
  *::after {
    transition-duration: 0.001ms !important;
  }
}

@tailwind components;

.cta {
  @apply block w-full rounded py-3 px-5 shadow-md text-base border border-transparent;
}

.cta:focus {
  @apply outline-none shadow-outline;
}

.cta--sm {
  @apply rounded-sm py-2 px-3 shadow text-sm;
}

@responsive {
  /* Use this to undo the .cta--sm variant */
  .cta--md {
    @apply rounded py-3 px-5 shadow-md text-base;
  }
}

.cta--input {
  @apply bg-white text-blue-very-dark;
}

.cta--btn {
  @apply bg-blue-bright text-white;
}

.cta--btn:hover {
  @apply bg-blue-bright-dark;
}

.cta--btn:active {
  @apply bg-blue-bright-dark;
}

.footer-link:hover {
  @apply text-gray-400 border-gray-400;
}

.footer-link:focus {
  @apply outline-transparent shadow-outline;
}

.footer-link--social {
  @apply inline-flex items-center justify-center w-8 h-8 p-2 border-white border rounded-full;
}

@tailwind utilities;

.bg-curve {
  background-color: #f8f8fe;
  background-image: url(images/bg-curve-mobile.svg);
  @apply bg-contain bg-no-repeat;
}

@screen lg {
  .bg-curve {
    background-image: url(images/bg-curve-desktop.svg);
  }
}

.after\:icon-arrow::after {
  content: "";
  background-image: url(images/icon-arrow.svg);
  transition-property: margin-left;
  @apply inline-block ml-2 w-6 h-6 bg-contain bg-no-repeat duration-200;
}

.after\:icon-arrow:hover::after {
  @apply ml-3;
}

.before\:icon-quotes::before {
  content: "";
  background-image: url(images/icon-quotes.svg);
  @apply inline-block mb-1 w-4 h-4 bg-contain bg-no-repeat;
}

.outline-transparent {
  outline: 1px solid transparent;
}
