@tailwind base;

@tailwind components;

.cta {
  @apply block w-full rounded py-3 px-5 border border-transparent shadow-md text-base;
}

.cta:focus {
  @apply outline-none shadow-outline;
}

.cta--sm {
  @apply rounded-sm py-2 px-3 shadow text-sm;
}

.cta--input {
  @apply bg-white text-blue-very-dark;
}

.cta--btn {
  @apply bg-blue-bright text-white;
}

.cta--btn:hover {
  @apply bg-blue-bright-dark;
}

.cta--btn:active {
  @apply bg-blue-bright-dark;
}

.footer-link:hover {
  @apply text-gray-400 border-gray-400;
}

.footer-link:focus {
  @apply outline-transparent shadow-outline;
}

.footer-link--social {
  @apply inline-flex items-center justify-center w-8 h-8 p-2 border-white border rounded-full;
}

@tailwind utilities;

.bg-curve {
  background-image: url(images/bg-curve-mobile.svg),
    linear-gradient(#f8f8fe, #f8f8fe);
  background-size: contain, cover;
  background-position: top left, top 50px center;
  @apply bg-no-repeat;
}

.after\:icon-arrow::after {
  content: "";
  background-image: url(images/icon-arrow.svg);
  @apply inline-block ml-2 w-6 h-6 bg-contain bg-no-repeat;
}

.before\:icon-quotes::before {
  content: "";
  background-image: url(images/icon-quotes.svg);
  @apply inline-block mb-1 w-4 h-4 bg-contain bg-no-repeat;
}

.outline-transparent {
  outline: 1px solid transparent;
}
