:root {
  --violet: hsl(257, 40%, 49%);

  --font-fam-heading: "Poppins", sans-serif;
  --font-fam-body: "Open Sans", sans-serif;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* From Bootstrap .sr-only (https://github.com/twbs/bootstrap/blob/7a6da5e3e7ad7c749dde806546a35d4d4259d965/dist/css/bootstrap.css#L8045) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
