:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  font-family: "Poppins", sans-serif;
  font-size: 16px;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  font-weight: var(--font-regular);
  padding: 20px;
  background-color: var(--red);
  background-image: url(images/bg-intro-mobile.png);
}

.main-text-section {
  color: white;
  text-align: center;
}

.h1 {
  font-weight: var(--font-semibold);
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 30px;
}

.paragraph {
  line-height: 1.7;
}

.form-top-label {
  background-color: var(--blue);
  color: white;
  padding: 20px 60px;
  text-align: center;
  line-height: 1.7;
  border-radius: 8px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

.form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

.form__input-container {
  margin-bottom: 16px;
}

.input {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid var(--grayish-blue);
  font-weight: var(--font-medium);
}

.input::placeholder {
  font-weight: var(--font-bold);
}

.helper-text {
  display: none;
}

.submit-btn {
  text-transform: uppercase;
  color: white;
  background-color: var(--green);
  display: block;
  width: 100%;
  border: none;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
}
