:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  font-family: "Poppins", sans-serif;
  font-size: 16px;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 20px;
  font-weight: var(--font-regular);
  padding: 24px;
  background-color: var(--red);
  background-image: url(images/bg-intro-mobile.png);
  min-height: 100vh;
}

@media screen and (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 1fr;
    padding-left: 160px;
    padding-right: 160px;
  }
}

.main-text {
  color: white;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.main-text__title {
  font-weight: var(--font-semibold);
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 30px;
}

@media screen and (min-width: 1200px) {
  .main-text__title {
    margin: 0;
    font-size: 3rem;
    line-height: 1.2;
  }
}

.main-text__desc {
  line-height: 1.7;
}

@media screen and (min-width: 1200px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.promotion-banner {
  background-color: var(--blue);
  color: white;
  padding: 24px 60px;
  /* 8px for the border-radius */
  margin-bottom: calc(16px + 8px);
  text-align: center;
  line-height: 1.7;
  border-radius: 8px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

.form {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);

  --input-px: 20px;
  --input-py: 20px;
}

@media screen and (min-width: 1200px) {
  .form {
    padding: 36px;
    --input-px: 24px;
  }
}

.form-group {
  margin-bottom: 16px;
  position: relative;

  --input-border-color: var(--grayish-blue);
  --input-color: var(--dark-blue);
  --error-text-display: none;
}

@media screen and (min-width: 1200px) {
  .form-group {
    margin-bottom: 20px;
  }
}

.form-group--invalid {
  --input-border-color: var(--red);
  --input-color: var(--red);
  --error-text-display: block;
}

.form-group--invalid::after {
  content: url(images/icon-error.svg);
  position: absolute;
  right: var(--input-px);
  top: 18px;
  height: 24px;
  width: 24px;
}

.form-group__input {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: var(--input-py) var(--input-px);
  border: 1px solid var(--input-border-color);
  color: var(--input-color);
  font-weight: var(--font-bold);
}

.form-group__input:focus {
  outline: none;
  /* --input-color: var(--dark-blue); */
  --input-border-color: var(--dark-blue);
}

.form-group__input::placeholder {
  font-weight: var(--font-bold);
}

.form-group__error-text {
  display: var(--error-text-display);
  margin: 8px 0 0;
  color: var(--red);
  text-align: right;
  font-style: italic;
  font-size: 78%;
  font-weight: var(--font-medium);
}

.submit-btn {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  background-color: var(--green);
  display: block;
  width: 100%;
  border: none;
  border-bottom: 4px solid hsl(154, 59%, 45%);
  padding: var(--input-py) var(--input-px);
  margin-bottom: 16px;
  text-align: center;
  border-radius: 4px;
}

.ts {
  text-align: center;
  color: var(--grayish-blue);
  font-size: 78%;
  font-weight: var(--font-medium);
  padding: 0px 12px;
  margin: 0 0 8px;
  line-height: 1.7;
}

.ts__link {
  color: var(--red);
  font-weight: var(--font-bold);
  text-decoration: none;
}

/* From Bootstrap .sr-only (https://github.com/twbs/bootstrap/blob/7a6da5e3e7ad7c749dde806546a35d4d4259d965/dist/css/bootstrap.css#L8045) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
