:root {
  font-size: 18px;
}

@tailwind base;

@tailwind components;

.btn {
  @apply inline-block text-xs text-center border-transparent rounded-full py-1 px-5;
}

@screen xl {
  .btn {
    @apply py-3 px-12;
  }
}

.btn:focus {
  @apply outline-transparent shadow-outline;
}

.btn--lg {
  @apply py-2 px-12;
}

@screen xl {
  .btn--lg {
    @apply py-4 px-16;
  }
}

.btn--primary {
  @apply bg-pink text-white;
  box-shadow: 0 4px 6px -1px hsla(322, 100%, 66%, 0.32),
    0 2px 4px -1px hsla(322, 100%, 66%, 0.16);
}

.btn--secondary {
  @apply bg-white text-cyan-dark shadow-md;
}

.btn--secondary:hover {
  @apply bg-gray-100;
}

.card {
  @apply border-transparent bg-white rounded-xl text-center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}

@screen xl {
  .card {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }
}

.footer-link:hover {
  @apply text-gray-400 border-gray-400;
}

.footer-link:focus {
  @apply outline-transparent shadow-outline;
}

.footer-link--social {
  @apply inline-flex items-center justify-center w-8 h-8 p-2 border-white border rounded-full;
}

@tailwind utilities;

.outline-transparent {
  outline: 1px solid transparent;
}
