@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3 {
		@apply font-bold text-violet-very-dark leading-tight;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	/* purgecss ignore */
	:focus {
		outline: 1px solid transparent !important;
		@apply shadow-outline;
	}

	input[aria-invalid="true"]:focus {
		@apply shadow-outline-red !important;
	}
}

@layer components {
	.form__label {
		@apply inline-block py-2 px-4 select-none;
	}

	.form__helper {
		@apply hidden text-sm italic mt-1;
	}

	.form--invalid .form__label {
		@apply text-red;
	}

	.form--invalid .form__helper {
		@apply block text-red;
	}

	.shorten-btn__loading-label {
		@apply hidden;
	}

	.shortening .shorten-btn__label {
		@apply hidden;
	}

	.shortening .shorten-btn__loading-label {
		@apply inline;
	}

	.copied {
		--label-display: none;
		--copied-label-display: inline;
		--failed-label-display: none;
	}

	.copy-failed {
		--label-display: none;
		--copied-label-display: none;
		--failed-label-display: inline;
	}

	.copy-btn__label {
		display: var(--label-display, inline);
	}

	.copy-btn__copied-label {
		display: var(--copied-label-display, none);
	}

	.copy-btn__failed-label {
		display: var(--failed-label-display, none);
	}
}

@layer utilities {
	.after\:line {
		@apply relative;
	}

	.after\:line::after {
		@apply block w-2 h-20 bg-cyan absolute mx-auto left-0 right-0 top-full;
		content: "";
	}
}
