@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3 {
		@apply font-bold text-violet-very-dark leading-tight;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	@screen lg {
		h1 {
			@apply text-6xl;
		}

		h2 {
			@apply text-4xl;
		}

		h3 {
			@apply text-2xl;
		}

		p {
			@apply leading-relaxed;
		}
	}

	/* purgecss ignore */
	:focus {
		outline: 1px solid transparent !important;
		@apply shadow-outline;
	}
}

@layer components {
	.form__helper {
		@apply hidden text-sm italic mt-1;
	}

	form[data-state~="input.nonempty"] .form__label {
		@apply sr-only;
	}

	form[data-state~="shortener.invalid"] input {
		@apply text-red;
	}

	form[data-state~="shortener.invalid"] input {
		@apply shadow-outline-red;
	}

	form[data-state~="shortener.invalid"] .form__label {
		@apply text-red;
	}

	form[data-state~="shortener.invalid"] .form__helper {
		@apply block text-red;
	}

	form[data-state~="shortener.shortening"] {
		--shorten-label-display: none;
		--shortening-label-display: inline;
		--shorten-failed-label-display: none;
	}

	form[data-state~="shorten-failed"] {
		--shorten-label-display: none;
		--shortening-label-display: none;
		--shorten-failed-label-display: inline;
	}

	form .shorten-btn__label {
		display: var(--shorten-label-display, inline);
	}

	form .shorten-btn__loading-label {
		display: var(--shortening-label-display, none);
	}

	form .shorten-btn__failed-label {
		display: var(--shorten-failed-label-display, none);
	}

	.copy-btn:hover {
		@apply bg-cyan-light;
	}

	.copied {
		--copy-label-display: none;
		--copied-label-display: inline;
		--copy-failed-label-display: none;
	}

	.copy-failed {
		--copy-label-display: none;
		--copied-label-display: none;
		--copy-failed-label-display: inline;
	}

	.copied .copy-btn {
		@apply bg-violet-dark;
	}

	.copied .copy-btn:hover {
		@apply bg-violet-very-dark;
	}

	.copy-btn__label {
		display: var(--copy-label-display, inline);
	}

	.copy-btn__copied-label {
		display: var(--copied-label-display, none);
	}

	.copy-btn__failed-label {
		display: var(--copy-failed-label-display, none);
	}

	@variants responsive {
		.features-grid {
			grid-template-rows:
				theme("spacing.12")
				theme("spacing.12")
				auto
				theme("spacing.12")
				theme("spacing.12");
			@apply text-left grid grid-cols-3 gap-x-8;
		}

		.url-form {
			@apply grid gap-x-5;
			grid-template-columns: 3fr 1fr;
		}
	}
}

@layer utilities {
	@variants responsive {
		.flex-basis-full {
			flex-basis: full;
		}
	}

	.after\:line {
		@apply relative;
	}

	.after\:line::after {
		@apply block w-2 h-20 bg-cyan absolute mx-auto left-0 right-0 top-full;
		content: "";
	}

	@screen lg {
		.after\:line::after {
			@apply mx-0 inset-auto left-full h-2 w-8 -translate-x-1/2;
			top: 50%;
		}
	}
}
