@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3 {
		@apply font-bold text-violet-very-dark leading-tight;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	:focus {
		outline: 1px solid transparent !important;
		@apply shadow-outline;
	}

	input[aria-invalid="true"]:focus {
		@apply shadow-outline-red !important;
	}
}

@layer components {
	.shorten-btn__loading-label {
		@apply hidden;
	}
	.shortening .shorten-btn__label {
		@apply hidden;
	}

	.shortening .shorten-btn__loading-label {
		@apply inline;
	}
	/* .copy-btn__copied-label {
		display: none;
	}

	.copied .copy-btn__label {
		display: none;
	}

	.copied .copy-btn__copied-label {
		display: inline;
	}

	.copy-failed .copy-btn__copy-failed-label {
		display: inline;
	} */
}

@layer utilities {
	.after\:line {
		@apply relative;
	}

	.after\:line::after {
		@apply block w-2 h-20 bg-cyan absolute mx-auto left-0 right-0 top-full;
		content: "";
	}
}
