*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 24px;
}

b {
  font-weight: 700;
}

.container {
  width: 100%;
  margin-top: -32px;
}

.storage {
  --primary-gradient: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --darker-blue: hsl(228, 55%, 18%);
  --very-dark-blue: hsl(229, 57%, 11%);

  --radius: 10px;

  /* Delete these */
  --mobile-breakpoint: 375px;
  --desktop-breakpoint: 1440px;

  /* These would be inherited by descendants */
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.storage-menu {
  background-color: var(--dark-blue);
  width: 100%;
  border-radius: var(--radius);
  border-top-right-radius: 92px;
  padding: 40px;
  margin-bottom: 16px;
}

.storage-menu__logo {
  line-height: 1;
  margin: 0 0 24px;
}

.storage-menu__option {
  background-color: var(--very-dark-blue);
  border: 1px solid var(--very-dark-blue);
  border-radius: var(--radius);
  height: 48px;
  width: 48px;
  margin-right: 12px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.storage-status {
  background-color: var(--dark-blue);
  color: var(--pale-blue);
  width: 100%;
  border-radius: var(--radius);
  padding: 32px 36px 52px;
  position: relative;
  overflow: visible;
}

.storage-status__label {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.storage-meter__bar {
  height: 20px;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid var(--darker-blue);
  background-color: var(--darker-blue);
  overflow: hidden;
}

.storage-meter__value {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  /* 815 for 815 GB, 1000 for the upper bound. */
  width: calc(815 / 1000 * 100%);
  border-radius: 10px;
  padding: 2px;
  background-image: var(--primary-gradient);
}

.storage-meter__value::after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}

.storage-meter__bounds {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  font-weight: 700;
}

.storage-status__tooltip {
  background-color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  padding: 12px 24px;
  /* Horizontally center the tooltip. Credit https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/#post-197427 */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  bottom: -32px;
}

.storage-status__amount-left {
  color: var(--very-dark-blue);
  font-size: 2.5em;
  margin-right: 8px;
}

.storage-status__amount-left-unit {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* From Bootstrap .sr-only (https://github.com/twbs/bootstrap/blob/7a6da5e3e7ad7c749dde806546a35d4d4259d965/dist/css/bootstrap.css#L8045) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.attribution {
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 80px;
  color: lightgray;
}

.attribution a {
  color: whitesmoke;
}
